{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href='{% static "css/c1.css" %}'>
</head>
<body>
    <div id="nav-links">
		<a href="#home">home</a>
		<a href="#virat">virat</a>
		<a href="#hardik">hardik</a>
		<a href="#shubman">subhman</a>
		<a href="#rahul">rahul</a>
	</div>
	<!-- Home section -->
	<div id="home">
		<h2>INDIAN CRICKET LEGENDS</h2>
		<P>The India men's national cricket team represent India in men's international cricket. It is governed by the Board of Control for Cricket in India (BCCI), and is a Full Member of the International Cricket Council (ICC) with Test, One Day International (ODI) and Twenty20 International (T20I) status.</P>
		<table>
			<tr>
				<td><img src='{% static "images/team1.jpg" %}' width="350px"height="250px" alt="No"></td>
				<td><img src='{% static "images/team2.webp" %}' width="350px"height="250px"></td>
			</tr>
		</table>
		<p>Cricket was introduced to the Indian subcontinent by the British in the 18th century,[10] and the first cricket club was established in 1792. India's men's national cricket team played its first international match on 25 June 1932 in a Lord's Test against England becoming the sixth team to be granted Test cricket status.</p>
	</div>

	<!--virat-->
	<div id="virat">
		<h2> VIRAT KOHLI </h2>
		<P>Virat Kohli is an Indian international cricketer and the former captain of the Indian national cricket team. He is a right-handed batsman and an occasional medium-fast bowler. He currently represents Royal Challengers Bangalore in the IPL and Delhi in domestic cricket. Kohli is widely regarded as one of the greatest batsmen in the history of cricket and the best of the 21st century.
		</P>
		<table>
			<tr>
				<td><img src='{% static "images/virat1.jpeg" %}' width="350px"height="250px"></td>
				<td><img src='{% static "images/virat2.jpeg" %}'width="350px"height="250px"></td>
				<td><img src='{% static "images/virat3.jpeg" %}'width="350px"height="250px"></td>
				<td><img src='{% static "images/virat4.jpeg" %}'width="350px"height="250px"></td>
			</tr>
		</table>
		<p>He holds the record as the highest run-scorer in T20I and IPL, ranks third in ODI, and stands as the fourth-highest in international cricket.[4] He also holds the record for scoring the most centuries in ODI cricket and stands second in the list of most international centuries scored.</p>
	</div>

	<!--hardik-->
	<div id="hardik">
		<h2> HARDIK PANDYA </h2>
		<P>Hardik Himanshu Pandya (born 11 October 1993) is an Indian cricketer who is the current vice-captain of the Indian cricket team in limited overs format. He is the captain of Mumbai Indians franchise in IPL. A batting all-rounder who can also bowl right-arm fast-medium deliveries, Pandya has represented India in all 3 formats.</P>
		<table>
			<tr>
				<td><img src='{% static "images/hardik1.jpeg" %}'width="350px"height="250px"></td>
				<td><img src='{% static "images/hardik2.jpeg" %}'width="350px"height="250px"></td>
				<td><img src='{% static "images/hardik3.jpeg" %}'width="350px"height="250px"></td>
				<td><img src='{% static "images/hardik4.jpeg" %}'width="350px"height="250px"></td>
			</tr>
		</table>
		<p>He is considered to be one of the best all-rounders in world cricket. He currently plays for the Baroda cricket team in domestic cricket and the Mumbai Indians whom he captains in the Indian Premier League (IPL).His elder brother Krunal Pandya is also a professional cricketer.</p>
	</div>
    
    <!--shubman-->
	<div id="shubman">
		<h2> SHUBMAN GILL </h2>
		<P>Shubman Gill (born 8 September 1999) is an Indian international cricketer who represents the Indian cricket team across all three formats. He is the captain of the Gujarat Titans in the Indian Premier League and plays for Punjab in domestic cricket. </P>
		<table>
			<tr>
				<td><img src='{% static "images/gill1.jpeg" %}'width="350px"height="250px"></td>
				<td><img src='{% static "images/gill2.jpeg" %}'width="350px"height="250px"></td>
				<td><img src='{% static "images/gill3.jpeg" %}'width="350px"height="250px"></td>
				<td><img src='{% static "images/gill4.jpeg" %}'width="350px"height="250px"></td>
			</tr>
		</table>
		<p> He is widely considered as one the best batsmen in contemporary world cricket.[2] Gill served as the vice-captain of the Indian Under-19 cricket team in the 2018 Under-19 Cricket World Cup and won Player of the Tournament award.</p>
	</div>

	<!--rahul-->
	<div id="rahul">
		<h2> K L RAHUL </h2>
		<P>Kannanur Lokesh Rahul  is an Indian international cricketer. A right-handed wicketkeeper-batsman, Rahul plays for Karnataka at the domestic level and captains the Lucknow Super Giants in the Indian Premier League. </P>
		<table>
			<tr>
				<td><img src='{% static "images/rahul.jpeg" %}'width="350px"height="250px"></td>
				<td><img src='{% static "images/rahul2.jpeg" %}'width="350px"height="250px"></td>
				<td><img src='{% static "images/rahul3.jpeg" %}'width="350px"height="250px"></td>
				<td><img src='{% static "images/rahul4.jpeg" %}'width="350px"height="250px"></td>
			</tr>
		</table>
		<p>He made his international debut in 2014 against Australia in the Boxing Day Test-match in Melbourne. Two years after his Test debut, Rahul made his One-Day International Debut in 2016 against Zimbabwe. Later on the same tour, he made his T20I debut.</p>
	</div>

	<h2>
		CopyRight:&copy;2024
	</h2>
	<p>All Rights Are Reserved &reg;</p>
</body>
</html>